<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center"> <h2>커리어 추가 폼</h2>
    </div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
    <form action="player.html" th:action method="post">
        <div>
            <label for="trophyName">트로피 이름</label>
            <input type="text" id="trophyName" name="trophyName" class="form-control"placeholder="트로피를 입력하세요">
        </div>
        <div>
            <label for="season">해당 시즌</label>
            <input type="text" id="season" name="season" class="form-control"placeholder="우승 년도를 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">커리어 추가</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='players.html'"
                        th:onclick="|location.href='@{/players}'|" type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
