<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>선수 정보</h2>
    </div>
    <div>
        <label for="playerName">선수 이름</label>
        <input type="text" id="playerName" name="playerName" class="form-control"
               value="playerA" th:value="${player.playerName}" readonly>
    </div>
    <div>
        <label for="age">나이</label>
        <input type="text" id="age" name="age" class="form-control"
               value="10" th:value="${player.age}" readonly>
    </div>
    <div>
        <label for="nationality">국적</label>
        <input type="text" id="nationality" name="nationality" class="form-control"
               value="korea" th:value="${player.nationality}" readonly>
    </div>
    <div>
        <label for="clubName">클럽 이름</label>
        <input type="text" id="clubName" name="clubName" class="form-control"
               th:value="${clubName != null ? clubName : '소속팀없음'}" readonly>
    </div>
    <div>
        <label for="importance">중요도</label>
        <input type="text" id="importance" name="importance" class="form-control"
               th:value="${player.importance != null ? player.importance : 'N'}" readonly>
    </div>
    <hr class="my-4">
    <div>
        <div style="display: flex; align-items: center;">
            <h3 style="flex: 1;">가능한 포지션</h3>
            <button class="btn btn-primary" style="margin-left: 10px;" th:onclick="|location.href='@{/players/{playerId}/addPosition(playerId=${player.playerId})}'|">포지션 추가</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>포지션</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position}">포지션</td>
            </tr>
            </tbody>
        </table>
    </div>


    <hr class="my-4">
    <div>
        <h3>획득한 트로피</h3>
        <table class="table">
            <thead>
            <tr>
                <th>트로피</th>
                <th>년도</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trophy : ${trophys}">
                <td th:text="${trophy.trophyName}">트로피</td>
                <td th:text="${trophy.season}">년도</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/players}'|" type="button">선수 목록</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
