<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>선수 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/players/add}'|" type="button">선수 등록
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='clubs.html'"
                    th:onclick="|location.href='@{/clubs}'|" type="button">클럽 목록
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>클럽이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}">
                <td><a href="player.html" th:href="@{/players/{playerId} (playerId=${player.playerId})}" th:text="${player.playerName}">이름</a></td>
                <td th:text="${player.age}">나이</td>
                <td th:if="${player.clubName == null}">소속팀없음</td>
                <td th:if="${player.clubName != null}" th:text="${player.clubName}">클럽이름</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
